body{
	color: #32233b;
  background-color: #fbf1d9;
}

h1 {
	font-weight: normal;
}

a {
	color: #ff5e6c;
	font-weight: bold;
	text-decoration: none;
}

p {
	font-size: 0.8em;
	line-height: 1.2em;
}

.table_header{
  font-weight: bold;
  padding: 0.35em;
  /*display: table-cell;*/
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size:.8em;
}

.container{
	padding: 10px;
	margin: auto;
	width: 100%;
	max-width: 700px;
}

.container__table{
	margin: auto;
	width: 100%;
	max-width: 900px;
}

.foot {
	text-align: right;

}

.tables {
  min-height: 360px;
  margin-top: 3rem;
}

.chart__table table {
  width: 100%;
  margin: 1rem auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.chart__table thead {
  border-bottom: 2px solid #bbb;
  font-weight: bold;
  font-size: .8em;
}

.chart__table tbody {
  font-size: .9em;
}

.chart__table tr {
  border-bottom: 1px solid #bbb;
  color: #222;
}

.chart__table zebra tr:nth-child(even) {
  background-color: #f6f6f6;
}

.chart__table th {
  font-weight: bold;
  padding: 0.35em;
  /*display: table-cell;*/
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.chart__table td {
  padding: 0.35em;
  text-align: center;
  /*display: table-cell;*/
}

.not-sort {
  display: none;
}

.sort{
}

.highlight {
  background-color: #fffaa0;
  padding:.3em;
}

