body{
	color: #32233b;
  background-color: #fbf1d9;
}

h1 {
	font-weight: normal;
}

a {
	color: #ff5e6c;
	font-weight: bold;
	text-decoration: none;
}

p {
	font-size: 0.8em;
	line-height: 1.2em;
}

.container{
	padding: 10px;
	margin: auto;
	width: 100%;
	max-width: 700px;
}

.foot {
	text-align: right;

}


