/* Specify font for header */
header {
	font-family: 'Poppins', sans-serif;
	font-size: 80px;
	color: #000000;
	text-align: left;
}

/* Specify font for body */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #000000;
	text-align: left;
}

/* Create div for body called .default that wraps text */
.default {
	inline-size: 600px;
	overflow-wrap: break-word;
}
