body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    color: blue;
    text-align: left;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: white;
    padding: 1em;
}

#button-container {
    margin-bottom: 1em;
}

#button-container button {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#button-container button:hover {
    background-color: orange;
    color: white;
}

main {
    padding: 1em;
    background-color: white;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
