{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Raag Agrawal",
  "url": "https://raagagrawal.com/",
  "image": "https://raagagrawal.com/images/headshot.jpg",
  "jobTitle": "MD-PhD Candidate",
  "description": "Physician-scientist in training focused on cancer genomics, translational oncology, and health disparities.",
  "affiliation": {
    "@type": "Organization",
    "name": "UCLA-Caltech Medical Scientist Training Program",
    "url": "https://mstp.healthsciences.ucla.edu/"
  },
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "Columbia University"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Cambridge"
    }
  ],
  "knowsAbout": ["Cancer Genomics", "Translational Oncology", "Health Disparities", "Prostate Cancer", "Whole-Genome Sequencing"],
  "sameAs": [
    "https://scholar.google.com/citations?user=aNm_oU4AAAAJ&hl=en",
    "https://github.com/raagagrawal"
  ],
  "email": "ragrawal@mednet.ucla.edu"
}
</script>
{{ end }}
